# Build artifacts
/target
/classes
/checkouts
/resources/public/js/compiled
pom.xml
pom.xml.asc
*.jar
*.class

# IDE and Editor files
.lsp/
.clj-kondo/
.calva/
.nrepl-port
.prepl-port
.lein-repl-history
.lein-failures
.lein-port
profiles.clj

# OS files
.DS_Store
Thumbs.db

# Mercurial (not used)
.hgignore
.hg/
